{% extends "djangosqlsampler/base.html" %}
{% block body %}
<h3>Queries {{ start_offset }} to {{ end_offset }} of {{ total_queries }}</h3>
<table>
    <tr>
        <th></th>
        <th><a href="{{ by_count_url }}">Count</a></th>
        <th><a href="{{ by_duration_url }}">Total Duration (s)</a></th>
        <th><a href="{{ by_cost_url }}">Total Cost</a></th>
        <th>SQL</th>
    </tr>
    {% for query in queries %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="chooser"><a href={{ query.url }}>&#x0398;</a></td>
            <td>{{ query.count }}</td>
            <td>{{ query.total_duration|floatformat:4 }}</td>
            <td>{{ query.total_cost }}</td>
            <td>{{ query.sql }}</td>
        </tr>
    {% endfor %}
</table>
<div id="page-selector">
    Page: 
    {% for page in pages %}
        {% if page.number == current_page %}
            {{ page.number }}
        {% else %}
        <a href="{{ page.url }}">{{ page.number }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

